body{
    background-color:black ;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 2rem;
}
img{
    width: 90%;
}
.content{
    font-size:larger;
    font-weight: bold;
    place-items: center;
    top:100px;
}
.box:hover{
    transform: scale(1.5) ;
    transition: 500ms;
}
a,a:active{
    text-decoration: none;
    color:black
}